<footer class="footer">
  <small>
    <%= t "the" %><%= link_to t("ruby_on_rails"), Settings.l_rails %>
    <%= t "by" %><%= link_to t("michael"), Settings.l_michael %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("about"), about_path %></li>
      <li><%= link_to t("contact"), contact_path %></li>
      <li><%= link_to t("new"), Settings.l_new_rails %></li>
    </ul>
  </nav>
</footer>
