<footer class="footer">
  <small>
    <%= t "t_the" %><%= link_to t("t_ruby_on_rails"), Settings.l_rails %>
    <%= t "t_by" %><%= link_to t("t_michael"), Settings.l_michael %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("t_about"), about_path %></li>
      <li><%= link_to t("t_contact"), contact_path %></li>
      <li><%= link_to t("t_new"), Settings.l_new_rails %></li>
    </ul>
  </nav>
</footer>
